{{#each columns}}
<th data-field="{{field}}" {{#if align}}data-align="{{align}}" {{/if}} {{#if filterControl}}data-filter-control="select"
    {{/if}} {{#if showRupee}}data-formatter="window.RupeeFormatter" {{/if}}>
    {{#if title}}{{title}}{{/if}}
</th>
{{/each}}
<th data-field="KS-Alter" data-formatter="window.GlobalAlterFormatter">Options</th>
 <script> window.GlobalAlterFormatter = (value, row, index) => {
        return [
            `<a href="#" class="link btn" title="Edit">`,
            `<i class="bi bi-pencil-square text-danger"></i>`,
            `</a>`

        ].join('');
    };
    </script>